@page "/about"
@using Net.ConnectCode.Barcode;

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>This Barcode Generated was developed as a Blazor WebAssembly App by Noah Krueger.</p>

<p>You can choose to see the barcode as you type it, or disable the option to generate them one at a time.</p>