@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Barcode Generator</h1>

<h5>Welcome to the Barcode Generator developed with Blazor.</h5>

<h5>Click 'Create' on the left or navigate to '/create' to get started.</h5>
